{% extends 'base.html.twig' %}

{% block body %}
    <h1>{{variable}}</h1>

    <h2>
        {% for tab in tables %}
            <li>{{ tab }}</li>
        {% endfor %}
    </h2>


    <h3>
      {% for prod in produit %}
      <td>
        <tr>{{ prod.name }}</tr>
        <tr>{{ prod.codeProduct }}</tr>
        <tr>{{ prod.price }}</tr>
      </td>
      {% endfor %}
    </h3>
{% endblock %}
