{% extends 'base.html.twig' %}

{% block body %}
    <h1>Un seul article :</h1>

    <h4>
        <hr>
              <p>{{ article.title }}</p>
            <p>{{ article.content }}</p>
            <p>By : {{ article.author}}</p>
    </h4>

    <a href="{{path ('homepage')}}">
        <button type="button" name="button">Home</button>
    </a>
    <a href="{{ path ('app_post_delete', {'id': article.id})  }}">
        <button type="button" name="button">Delete</button>
    </a>
{% endblock %}
